/* Start Services */
.container .digit-sol {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #2f3645;
}
.container .digit-sol .infos {
  width: 60%;
  gap: 20px;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container .digit-sol .infos .service {
  width: 320px;
  height: 200px;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container .digit-sol .infos .service .img {
  width: 320px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.container .digit-sol .infos .service .img img {
  width: 80px;
}
.container .digit-sol .infos .service .title {
  width: 320px;
  font-weight: 600;
  font-size: 20px;
  display: flex;
  justify-content: center;
}
.active-service {
  background-color: #fff6dc;
  border: 4px solid var(--orange-color);
  color: var(--orange-color);
  outline: none;
}
.deactive-service {
  background-color: #b7b7b7;
  border: 4px solid #434343;
  color: #3a4152;
}
.inter2 {
  background-color: #fff6dc;
}
/* Start Media Queries */
/* Small devices (Portrait phones, 1700px and down) */
@media (max-width: 1700px) {
  .container .digit-sol .infos {
    width: 80%;
  }
}
/* Large devices (desktops, 1275px and down) */
@media (max-width: 1275px) {
  .container .digit-sol .infos {
    width: 95%;
  }
}
/* Large devices (desktops, 992px and down) */
@media (max-width: 992px) {
  .container .digit-sol .infos .service {
    width: 45%;
    font-weight: 700;
    font-size: 25px;
  }
  /* Start Header */
  /* .container .myHeader .logo {
    height: 80px;
    transform: rotate(-14deg);
  }
  .container .myHeader .title {
    font-weight: 500;
    font-size: 25px;
    border-bottom: 10px solid #f74d19;
  } */
  /* End Header */
}
/* Large devices (desktops, 768px and down) */
@media (max-width: 768px) {
  .container .digit-sol .infos .service {
    width: 65%;
  }
}
/* Large devices (desktops, 450px and down) */
@media (max-width: 450px) {
  .container .digit-sol .infos {
    width: 100%;
  }
  .container .digit-sol .infos .service {
    width: 95%;
  }
  /* Start Header */
  /* .container .myHeader .logo {
    height: 80px;
    transform: rotate(-14deg);
  }
  .container .myHeader .title {
    font-size: 20px;
  } */
  /* End Header */
}
/* End Media Queries */
