<!-- /* ////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////// */
/* ////// Portfolio Version 4 Created by Mohamed Machlou ///// */
/* /////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////// */ -->
<div class="container">
  <div class="digi-sol">
    <div class="service">
      <div class="infos">
        <h2>HVAC</h2>
        <p>
          MACHLOU Services does more than just generate real, bookable leads. We
          are connected and intimately involved in the HVAC world. In such a
          highly competitive market, having MACHLOU Services on your side allows
          you to rest easy knowing your marketing is in capable hands. While you
          keep your clients comfortable throughout the seasons, allow our team
          to give you comfort in knowing your leads won't freeze up.
        </p>
      </div>
      <div class="img">
        <img
          src="../../../../assets/images/services/hvac-industries.jpg.webp"
          alt=""
        />
        <div class="front">
          <button>contact us</button>
        </div>
      </div>
    </div>
    <div class="service">
      <div class="infos">
        <h2>HVAC</h2>
        <p>
          MACHLOU Services does more than just generate real, bookable leads. We
          are connected and intimately involved in the HVAC world. In such a
          highly competitive market, having MACHLOU Services on your side allows
          you to rest easy knowing your marketing is in capable hands. While you
          keep your clients comfortable throughout the seasons, allow our team
          to give you comfort in knowing your leads won't freeze up.
        </p>
      </div>
      <div class="img">
        <img
          src="../../../../assets/images/services/hvac-industries.jpg.webp"
          alt=""
        />
        <div class="front">
          <button>contact us</button>
        </div>
      </div>
    </div>
    <div class="service">
      <div class="infos">
        <h2>HVAC</h2>
        <p>
          MACHLOU Services does more than just generate real, bookable leads. We
          are connected and intimately involved in the HVAC world. In such a
          highly competitive market, having MACHLOU Services on your side allows
          you to rest easy knowing your marketing is in capable hands. While you
          keep your clients comfortable throughout the seasons, allow our team
          to give you comfort in knowing your leads won't freeze up.
        </p>
      </div>
      <div class="img">
        <img
          src="../../../../assets/images/services/hvac-industries.jpg.webp"
          alt=""
        />
        <div class="front">
          <button>contact us</button>
        </div>
      </div>
    </div>
    <div class="service">
      <div class="infos">
        <h2>HVAC</h2>
        <p>
          MACHLOU Services does more than just generate real, bookable leads. We
          are connected and intimately involved in the HVAC world. In such a
          highly competitive market, having MACHLOU Services on your side allows
          you to rest easy knowing your marketing is in capable hands. While you
          keep your clients comfortable throughout the seasons, allow our team
          to give you comfort in knowing your leads won't freeze up.
        </p>
      </div>
      <div class="img">
        <img
          src="../../../../assets/images/services/hvac-industries.jpg.webp"
          alt=""
        />
        <div class="front">
          <button>contact us</button>
        </div>
      </div>
    </div>
    <div class="service">
      <div class="infos">
        <h2>HVAC</h2>
        <p>
          MACHLOU Services does more than just generate real, bookable leads. We
          are connected and intimately involved in the HVAC world. In such a
          highly competitive market, having MACHLOU Services on your side allows
          you to rest easy knowing your marketing is in capable hands. While you
          keep your clients comfortable throughout the seasons, allow our team
          to give you comfort in knowing your leads won't freeze up.
        </p>
      </div>
      <div class="img">
        <img
          src="../../../../assets/images/services/hvac-industries.jpg.webp"
          alt=""
        />
        <div class="front">
          <button>contact us</button>
        </div>
      </div>
    </div>
  </div>
</div>
