/* /////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////// */
/* ////// Portfolio Version 4 Created by Mohamed Machlou ///// */
/* /////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////// */
.container .nav {
  width: 100%;
  height: 60px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  border-radius: 6px;
  z-index: 20;
  position: fixed;
}
.container .nav .logo {
  height: 90px;
  margin-top: 20px;
  margin-left: 20px;
  transition: 0.5s ease;
}
.container .nav .logo:hover {
  transform: translateY(20px);
}
.container .nav .line-menu {
  /* width: 40%; */
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 80px;
}
.container .nav .line-menu li {
  font-weight: 500;
  font-size: 1.4rem;
  margin-right: 20px;
  transition: 0.5s ease;
}
.container .nav .line-menu li:hover {
  color: var(--orange-color);
}
.li-active {
  color: var(--orange-color);
  padding-left: 5px;
  border-left: 4px solid var(--orange-color);
}
.li-deactive {
  padding-left: 5px;
  color: white;
  border-left: 4px solid transparent;
}
.container .nav .column-menu {
  display: none;
}
.container .menu {
  display: none;
}
.container .closeMenu {
  display: none;
}
/* Start Media Queries */
/* Extra large devices (large desktops, 1200px and down) */
@media (max-width: 1200px) {
}
/* Small devices (landscape phones, 992px and down) */
@media (max-width: 992px) {
  .container .nav .line-menu {
    display: none;
  }
  .container .nav .column-menu {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 50px;
    background-color: #151515;
    position: absolute;
    z-index: 10;
    box-sizing: border-box;
    transition: 1s ease;
  }
  .showMenuCls {
    transform: translateY(184px);
  }
  .hideMenuCls {
    transform: translateY(-200px);
  }
  .container .nav .column-menu li {
    font-weight: 500;
    font-size: 15px;
  }
  .li-active {
    color: var(--orange-color);
    padding-left: 5px;
    border-left: 4px solid var(--orange-color);
    transform: translateX(30px);
  }
  .li-deactive {
    padding-left: 5px;
    color: white;
    transform: translateX(0px);
  }
  .container .nav .menu {
    display: flex;
    width: 40px;
    margin-right: 15px;
    cursor: pointer;
  }
  .container .nav .menu img {
    width: 40px;
  }
  .container .nav .closeMenu {
    display: flex;
    width: 25px;
    margin-right: 15px;
    cursor: pointer;
  }
  .container .nav .closeMenu img {
    width: 25px;
  }
}
/* Small devices (landscape phones, 500px and down) */
@media (max-width: 500px) {
  .container .nav .logo {
    height: 50px;
    margin-left: 10px;
  }
  .container .nav {
    width: 100%;
    height: 40px;
  }
}
/* End Media Queries */
