/* /////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////// */
/* ////// Portfolio Version 4 Created by Mohamed Machlou ///// */
/* /////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////// */
.container .mynav {
  width: 100%;
  z-index: 20;
  position: fixed;
}
.container .head {
  width: 100%;
  height: 100px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .head .email {
  font-weight: 800;
  font-size: 40px;
  color: beige;
}
.container .head button {
  width: 400px;
  height: 50px;
  margin-left: 20px;
  border-radius: 4px;
  outline: none;
  border: none;
  font-weight: 800;
  font-size: 25px;
  color: beige;
  background-color: orangered;
  transform: rotate(5deg);
  cursor: pointer;
}
.container .nav {
  width: 100%;
  height: 60px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.container .nav .logo {
  height: 90px;
  margin-top: 20px;
  margin-left: 20px;
  transition: 0.5s ease;
}
.container .nav .logo:hover {
  transform: translateY(20px);
}
.container .nav .line-menu {
  /* width: 40%; */
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 80px;
}
.container .nav .line-menu li {
  font-weight: 500;
  font-size: 1.4rem;
  margin-right: 20px;
  transition: 0.5s ease;
}
.container .nav .line-menu li:hover {
  color: var(--orange-color);
}
.li-active {
  color: var(--orange-color);
  padding-left: 5px;
  border-left: 4px solid var(--orange-color);
}
.li-deactive {
  padding-left: 5px;
  color: white;
  border-left: 4px solid transparent;
}
.container .nav .column-menu {
  display: none;
}
.container .menu {
  display: none;
}
.container .closeMenu {
  display: none;
}
/* Start Media Queries */
/* Extra large devices (large desktops, 1200px and down) */
@media (max-width: 1200px) {
  .container .nav .line-menu li {
    font-weight: 400;
    font-size: 1.1rem;
    margin-right: 10px;
  }
}
@media (max-width: 1100px) {
  .container .head {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container .head button {
    margin-top: 15px;
    margin-bottom: 25px;
  }
  .container .head .email {
    margin-top: 15px;
    margin-bottom: 5px;
  }
}
/* Small devices (landscape phones, 992px and down) */
@media (max-width: 992px) {
  .container .nav .line-menu {
    display: none;
  }
  .container .nav .column-menu {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 50px;
    background-color: #151515;
    position: absolute;
    z-index: -10;
    box-sizing: border-box;
    transition: 1s ease;
  }
  .showMenuCls {
    transform: translateY(180px);
  }
  .hideMenuCls {
    transform: translateY(-400px);
  }
  .container .nav .column-menu li {
    font-weight: 500;
    font-size: 15px;
  }
  .li-active {
    color: var(--orange-color);
    padding-left: 5px;
    border-left: 4px solid var(--orange-color);
    transform: translateX(30px);
  }
  .li-deactive {
    padding-left: 5px;
    color: white;
    transform: translateX(0px);
  }
  .container .nav .menu {
    display: flex;
    width: 40px;
    margin-right: 15px;
    cursor: pointer;
  }
  .container .nav .menu img {
    width: 40px;
  }
  .container .nav .closeMenu {
    display: flex;
    width: 25px;
    margin-right: 15px;
    cursor: pointer;
  }
  .container .nav .closeMenu img {
    width: 25px;
  }
}
/* Small devices (landscape phones, Width: 992px and Height: 450px) */
@media (max-width: 992px) and (max-height: 450px) {
  .container .head {
    width: 100%;
    height: 50px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .container .head .email {
    font-weight: 600;
    font-size: 20px;
  }
  .container .head button {
    width: 250px;
    height: 30px;
    font-weight: 600;
    font-size: 16px;
    margin-top: 45px;
    transform: rotate(6deg);
  }
}
/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {
  .container .head .email {
    font-weight: 600;
    font-size: 35px;
  }
  .container .head button {
    width: 350px;
    height: 50px;
    font-weight: 600;
    font-size: 25px;
  }
}
/* Small devices (landscape phones, 500px and down) */
@media (max-width: 500px) {
  .container .head .email {
    font-size: 25px;
  }
  .container .head button {
    width: 300px;
    height: 40px;
    font-weight: 600;
    font-size: 20px;
  }
  .container .nav .logo {
    height: 50px;
    margin-left: 10px;
  }
  .container .nav {
    width: 100%;
    height: 40px;
  }
}
/* End Media Queries */
