<!-- /* ////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////// */
/* ////// Portfolio Version 4 Created by Mohamed Machlou ///// */
/* /////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////// */ -->
<div class="container">
  <!-- Start Header -->
  <div class="myHeader">
    <div class="logo"></div>
    <div class="title">INDUSTRIES</div>
  </div>
  <!-- End Header -->
  <div class="industries">
    <div class="service">
      <div class="infos">
        <h2>HVAC</h2>
        <p>
          MACHLOU Services does more than just generate real, bookable leads. We
          are connected and intimately involved in the HVAC world. In such a
          highly competitive market, having MACHLOU Services on your side allows
          you to rest easy knowing your marketing is in capable hands. While you
          keep your clients comfortable throughout the seasons, allow our team
          to give you comfort in knowing your leads won't freeze up.
        </p>
      </div>
      <div class="img">
        <img
          src="../../../../assets/images/services/hvac-industries.jpg.webp"
          alt=""
        />
        <div class="front">
          <button>contact us</button>
        </div>
      </div>
    </div>
    <div class="service">
      <div class="infos">
        <h2>Plumbing</h2>
        <p>
          We love our plumbers! Plumbing is an essential, often overlooked
          trade—but not here at MACHLOU Services. Our team understands the world
          of plumbing, and tailors your digital marketing solutions to reflect
          just that. We don't clog the conversation with confusing or misleading
          numbers and information—you'll get real, raw data with total
          transparency so you can understand exactly what we're doing for you
          and see it in action every single day.
        </p>
      </div>
      <div class="img">
        <img
          src="../../../../assets/images/services/plumbing-industries.jpg.webp"
          alt=""
        />
        <div class="front">
          <button>contact us</button>
        </div>
      </div>
    </div>
    <div class="service">
      <div class="infos">
        <h2>Electrical</h2>
        <p>
          You keep your customers' homes and businesses running smoothly...so
          why not partner with a digital marketing expert that does the same for
          you? With MACHLOU Services, you're getting a digital marketing team
          that knows the electrical industry inside and out. We bring extensive
          expertise about the electrical industry world to the table, allowing
          us to connect with you on a personal level to anticipate your
          marketing needs and deliver without compromise.
        </p>
      </div>
      <div class="img">
        <img
          src="../../../../assets/images/services/electrical-industries.jpg.webp"
          alt=""
        />
        <div class="front">
          <button>contact us</button>
        </div>
      </div>
    </div>
    <div class="service">
      <div class="infos">
        <h2>Solar</h2>
        <p>
          MACHLOU Services is the digital marketing company that isn't afraid to
          shine a light on our results. We report direct, transparent data right
          to you no matter what the numbers show. You'll always know exactly
          where your marketing budget is going and how your campaign is doing,
          which makes us an excellent choice and trusted partner of many
          companies offering solar industries.
        </p>
      </div>
      <div class="img">
        <img
          src="../../../../assets/images/services/solar-industries.jpg.webp"
          alt=""
        />
        <div class="front">
          <button>contact us</button>
        </div>
      </div>
    </div>
    <div class="service">
      <div class="infos">
        <h2>Roofing</h2>
        <p>
          MACHLOU Services is the digital marketing company you want as your
          partner in the roofing industry. We've been serving roofing
          contractors since 2009, and continue to provide solutions that help
          you gain valuable visibility to attract new and potential clients. We
          understand that conversions are what really matter, and go further
          than simply generating leads. As your digital marketing partner, RYNO
          Strategic Solutions will go above and beyond to get you real, bookable
          leads to help you grow your roofing business.
        </p>
      </div>
      <div class="img">
        <img
          src="../../../../assets/images/services/roofing-industries.jpg.webp"
          alt=""
        />
        <div class="front">
          <button>contact us</button>
        </div>
      </div>
    </div>
  </div>
  <div id="contact" class="inter inter2">
    <img src="../../../../assets/images/biege-white.svg" alt="" />
  </div>
</div>
