/* /////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////// */
/* ////// Portfolio Version 4 Created by Mohamed Machlou ///// */
/* /////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////// */
.container .myHeader {
  background-color: #fff6dc;
  color: black;
}
.container .industries {
  width: 100%;
  padding-bottom: 40px;
  background-color: #fff6dc;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.container .industries .service {
  width: 1300px;
  height: 350px;
  margin-top: 20px;
  margin-bottom: 150px;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 30px solid transparent;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transition: 2s ease;
  overflow: hidden;
}
.container .industries .service:hover {
  border-left: 30px solid var(--orange-color);
}
.container .industries .service .img {
  width: 350px;
  height: 350px;
  padding: 10px;
  position: relative;
  /* z-index: 2; */
}
.container .industries .service .img img {
  width: 350px;
  height: 100%;
}
.container .industries .service .img .front {
  width: 350px;
  height: 350px;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  /* z-index: 4; */
  top: 350px;
  left: 10px;
  transform: translateY(0px);
  transition: 1s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .industries .service:hover .img .front {
  transform: translateY(-340px);
}
.container .industries .service .img .front button {
  width: 200px;
  height: 50px;
  background-color: var(--orange-color);
  color: white;
  font-weight: 600;
  font-size: 25px;
  cursor: pointer;
}
.container .industries .service .img .front button:hover {
  background-color: transparent;
  color: var(--orange-color);
  border: 1px solid var(--orange-color);
}

.container .industries .service .infos {
  width: 60%;
}
.container .industries .service .infos h2 {
  width: 160px;
  font-weight: 800;
  font-size: 40px;
  padding: 20px 20px 20px 0px;
  margin-left: 20px;
  border-bottom: 15px solid var(--orange-color);
}
.container .industries .service .infos p {
  display: flex;
  font-weight: 600;
  font-size: 14px;
  line-height: 25px;
  padding: 20px;
}
.inter {
  width: 100%;
  background-color: white;
}

/* Start Media Queries */
/* Large devices (desktops, 1200px and down) */
@media (max-width: 1200px) {
  .container .industries .service {
    width: 1100px;
  }
}
/* Large devices (desktops, 992px and down) */
@media (max-width: 992px) {
  .container .industries .service {
    width: 550px;
    height: 650px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-left: 30px solid transparent;
  }
  .container .industries .service .infos h2 {
    padding: 20px;
    margin: auto;
  }
  .container .industries .service .infos p {
    display: none;
  }
  .container .industries .service .img {
    width: 550px;
    height: 550px;
    padding: 0px;
    position: relative;
  }
  .container .industries .service .img img {
    width: 100%;
  }
  .container .industries .service .img .front {
    width: 550px;
    height: 550px;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 340px;
    left: 10px;
    transform: translateY(200px);
    transition: 1s ease;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container .industries .service:hover .img .front {
    transform: translateY(-340px);
  }
}
/* Large devices (desktops, 768px and down) */
@media (max-width: 768px) {
  .container .industries .service {
    width: 500px;
    height: 610px;
  }
  .container .industries .service .img {
    width: 500px;
    height: 500px;
  }
  .container .industries .service .img .front {
    width: 500px;
    height: 500px;
  }
  .container .industries .service:hover .img .front {
    transform: translateY(-340px);
  }
}
/* Large devices (desktops, 450px and down) */
@media (max-width: 450px) {
  .container .industries .service {
    width: 420px;
    height: 550px;
    border-left: 30px solid var(--orange-color);
  }
  .container .industries .service .img {
    width: 420px;
    height: 420px;
  }
  .container .industries .service .img .front {
    width: 420px;
    height: 120px;
    top: 320px;
    transform: translateY(0px);
    background-color: rgba(0, 0, 0, 0.9);
  }
  .container .industries .service:hover .img .front {
    transform: translateY(0px);
  }
  .container .industries .service .infos h2 {
    font-weight: 700;
    font-size: 35px;
  }
  .container .industries .service .img .front button {
    background-color: transparent;
    color: var(--orange-color);
    border: 1px solid var(--orange-color);
  }
}
/* End Media Queries */
