/* /////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////// */
/* ////// Portfolio Version 4 Created by Mohamed Machlou ///// */
/* /////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////// */
.container .about {
  width: 100%;
  /* height: 50vh; */
  background-color: black;
  position: relative;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 120px;
  margin-bottom: 50px;
  line-height: 30px;
  font-weight: 400;
  font-size: 20px;
}
.container .about .block {
  /* background-color: yellowgreen; */
  width: 60%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  border: 2px solid var(--orange-color);
}
.container .about .title {
  font-weight: 800;
  font-size: 3rem;
  margin-bottom: 40px;
}
.container .about .para {
  width: 85%;
  margin-bottom: 40px;
}
.container .about .numbers {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.container .about .numbers .number {
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container .about .numbers .number h2 {
  width: 100%;
  text-align: center;
  font-size: 2rem;
}
.container .about .numbers .number h5 {
  width: 100%;
  text-align: center;
  font-size: 0.9rem;
}
.container .about button {
  width: 180px;
  padding: 13px;
  margin-top: 40px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1.3rem;
  cursor: pointer;
  color: var(--orange-color);
  background-color: black;
  border: 2px solid var(--orange-color);
  transition: 0.8s ease;
}
.container .about button:hover {
  color: white;
  background-color: var(--orange-color);
  border: 2px solid transparent;
}
.about .inter {
  width: 100%;
  background-color: #2f3645;
}
.about .inter img {
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: black;
}
.about .inter2 {
  background-color: black;
}
/* Start Services */
.container .about .infos {
  width: 100%;
  height: 80vh;
  background-color: #2e3545;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .about .infos .plus {
  width: 80%;
  height: 79vh;
  background-color: #f5f5f5;
  border: 3px solid var(--orange-color);
  border-left-width: 120px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}
.infos .plus .service {
  width: 100%;
  height: 70px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.infos .plus .service .service-title {
  width: 80%;
  height: 60px;
  font-weight: 800;
  font-size: 2rem;
  text-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
}
.infos .plus .service .cercle {
  border-radius: 50%;
  transition: 1s ease;
  position: absolute;
}
.active-cercle {
  background-color: var(--orange-color);
  width: 80px;
  height: 80px;
  left: -20px;
}
.deactive-cercle {
  background-color: #b4b4b8;
  width: 50px;
  height: 50px;
  left: -25px;
}
.active-service {
  color: orange;
}
.deactive-service {
  color: #b4b4b8;
}

/* Large devices (desktops, 1220px and down) */
@media (max-width: 1220px) {
  .container .about .block {
    width: 80%;
    padding: 50px;
  }
  .container .about .title {
    font-weight: 700;
    font-size: 2.8rem;
    margin-bottom: 40px;
  }
  .infos .plus .service .service-title {
    font-weight: 800;
    font-size: 1.5rem;
    text-align: center;
  }
}
/* Large devices (desktops, 992px and down) */
@media (max-width: 992px) {
  .container .about .title {
    font-weight: 700;
    font-size: 2.7rem;
    margin-bottom: 40px;
  }
  .container .about .para {
    width: 95%;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 17px;
  }
  .container .about .infos {
    height: 60vh;
  }
  .container .about .infos .plus {
    width: 90%;
    height: 55vh;
    border-left-width: 50px;
  }
  .active-cercle {
    width: 60px;
    height: 60px;
    left: -7px;
  }
  .deactive-cercle {
    width: 40px;
    height: 40px;
    left: -18px;
  }
  .infos .plus .service .service-title {
    font-weight: 800;
    font-size: 1.5rem;
  }
}
/* Large devices (desktops, 768px and down) */
@media (max-width: 768px) {
  .container .about .block {
    width: 90%;
    padding: 50px;
  }
  .container .about .title {
    font-weight: 700;
    font-size: 2.3rem;
    margin-bottom: 40px;
  }
  .container .about .numbers {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .container .about .numbers .number {
    width: 60%;
    margin-bottom: 40px;
  }
  .container .about .numbers .number h2 {
    font-size: 1.7rem;
  }
  .container .about button {
    width: 180px;
    padding: 9px;
    font-weight: 500;
    font-size: 1.3rem;
  }

  .container .about .infos {
    height: 60vh;
  }
  .container .about .infos .plus {
    width: 98%;
    height: 55vh;
    border-left-width: 40px;
  }
  .active-cercle {
    width: 60px;
    height: 60px;
    left: -10px;
  }
  .deactive-cercle {
    width: 40px;
    height: 40px;
    left: -18px;
  }
  .infos .plus .service .service-title {
    font-weight: 700;
    font-size: 1.3rem;
    text-align: center;
  }
}
/* Large devices (desktops, 590px and down) */
@media (max-width: 590px) {
  .container .about .block {
    width: 96%;
    padding: 50px 10px;
  }
  .container .about .title {
    font-weight: 800;
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  .container .about .para {
    width: 95%;
    font-weight: 400;
    font-size: 14px;
  }
  .container .about button:hover {
    color: var(--orange-color);
    background-color: black;
    border: 2px solid var(--orange-color);
  }
  .container .about .infos {
    height: 60vh;
  }
  .container .about .infos .plus {
    width: 98%;
    height: 55vh;
    background-color: #f5f5f5;
    border: 3px solid var(--orange-color);
    border-left-width: 30px;
  }
  .active-cercle {
    background-color: var(--orange-color);
    width: 55px;
    height: 55px;
    left: -15px;
  }
  .deactive-cercle {
    background-color: #b4b4b8;
    width: 40px;
    height: 40px;
    left: -15px;
  }
  .infos .plus .service .service-title {
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
  }
}
