<!-- /* ////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////// */
/* ////// Portfolio Version 4 Created by Mohamed Machlou ///// */
/* /////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////// */ -->
<div class="container">
  <div class="about">
    <div class="block">
      <div class="title">Meet Machlou Services</div>
      <div class="para">
        We know marketing can be confusing and expensive. You deserve a clear
        plan of action with transparent and measurable results. And we’re
        ferociously committed to do just that.
      </div>
      <div class="numbers">
        <div class="number">
          <h2>{{ this.years() }}<span>+</span></h2>
          <h5>years experiences</h5>
        </div>
        <div class="number">
          <h2>{{ this.nbWebsites() }}<span>+</span></h2>
          <h5>websites launched</h5>
        </div>
        <div class="number">
          <h2>{{ this.nbClients() }}<span>+</span></h2>
          <h5>clients helped</h5>
        </div>
      </div>
      <button>Let's Chat</button>
    </div>
    <div class="inter">
      <img src="../../../../assets/images/black-gray1.svg" alt="" />
    </div>
    <div class="infos">
      <div class="plus">
        <div class="service">
          <div
            [ngClass]="{
              cercle: true,
              'active-cercle': this.cercleNb() == 1,
              'deactive-cercle': this.cercleNb() != 1
            }"
          >
            1
          </div>
          <div
            [ngClass]="{
              'service-title': true,
              'active-service': this.cercleNb() == 1,
              'deactive-service': this.cercleNb() != 1
            }"
          >
            Website Design & Development
          </div>
        </div>
        <div class="service">
          <div
            [ngClass]="{
              cercle: true,
              'active-cercle': this.cercleNb() == 2,
              'deactive-cercle': this.cercleNb() != 2
            }"
          >
            2
          </div>
          <div
            [ngClass]="{
              'service-title': true,
              'active-service': this.cercleNb() == 2,
              'deactive-service': this.cercleNb() != 2
            }"
          >
            Search Engine Optimization
          </div>
        </div>
        <div class="service">
          <div
            [ngClass]="{
              cercle: true,
              'active-cercle': this.cercleNb() == 3,
              'deactive-cercle': this.cercleNb() != 3
            }"
          >
            3
          </div>
          <div
            [ngClass]="{
              'service-title': true,
              'active-service': this.cercleNb() == 3,
              'deactive-service': this.cercleNb() != 3
            }"
          >
            Facebook Advertising Services
          </div>
        </div>
        <div class="service">
          <div
            [ngClass]="{
              cercle: true,
              'active-cercle': this.cercleNb() == 4,
              'deactive-cercle': this.cercleNb() != 4
            }"
          >
            4
          </div>
          <div
            [ngClass]="{
              'service-title': true,
              'active-service': this.cercleNb() == 4,
              'deactive-service': this.cercleNb() != 4
            }"
          >
            Google Business Profile
          </div>
        </div>
        <div class="service">
          <div
            [ngClass]="{
              cercle: true,
              'active-cercle': this.cercleNb() == 5,
              'deactive-cercle': this.cercleNb() != 5
            }"
          >
            5
          </div>
          <div
            [ngClass]="{
              'service-title': true,
              'active-service': this.cercleNb() == 5,
              'deactive-service': this.cercleNb() != 5
            }"
          >
            Contact form tracking
          </div>
        </div>
      </div>
    </div>
    <div class="inter inter2">
      <img src="../../../../assets/images/gray-black.svg" alt="" />
    </div>
  </div>
</div>
