<!-- /* ////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////// */
/* ////// Portfolio Version 4 Created by Mohamed Machlou ///// */
/* /////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////// */ -->
<div class="container">
  <div class="about">
    <div class="block">
      <div class="title">Meet Machlou Services</div>
      <div class="para">
        We know marketing can be confusing and expensive. You deserve a clear
        plan of action with transparent and measurable results. And we’re
        ferociously committed to do just that.
      </div>
      <div class="numbers">
        <div class="number">
          <h2>{{ this.years() }}<span>+</span></h2>
          <h5>years experiences</h5>
        </div>
        <div class="number">
          <h2>{{ this.nbWebsites() }}<span>+</span></h2>
          <h5>websites launched</h5>
        </div>
        <div class="number">
          <h2>{{ this.nbClients() }}<span>+</span></h2>
          <h5>clients helped</h5>
        </div>
      </div>
      <button>Let's Chat</button>
    </div>
  </div>
</div>
