<!-- /* ////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////// */
/* ////// Portfolio Version 4 Created by Mohamed Machlou ///// */
/* /////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////// */ -->
<div class="container">
  <div id="about" class="about">
    <div class="block">
      <div class="title">Meet Machlou Services</div>
      <div class="para">
        I am an expert web developer specializing in Angular and Node.js with a
        proven track record of delivering high-quality web applications. With a
        deep understanding of modern web technologies and a passion for crafting
        efficient, scalable, and user-friendly solutions, I have been helping
        businesses achieve their digital goals.
      </div>
      <div class="numbers">
        <div class="number">
          <h2>{{ this.years() }}<span>+</span></h2>
          <h5>years experiences</h5>
        </div>
        <div class="number">
          <h2>{{ this.nbWebsites() }}<span>+</span></h2>
          <h5>websites launched</h5>
        </div>
        <div id="digit" class="number">
          <h2>{{ this.nbClients() }}<span>+</span></h2>
          <h5>clients helped</h5>
        </div>
      </div>
      <button>Let's Chat</button>
    </div>
    <div class="inter">
      <img src="../../../../assets/images/black-gray1.svg" alt="" />
    </div>
  </div>
</div>
